nav{
  margin-top: 20px;
  border: #5d465a solid 1px !important;
}

.navbar-nav > li > a{
  font-size: 18px;
}

.navbar, .navbar-default .navbar-nav > .active > a{
  background-color:#f6f3f5;
  color: #3d1a3a;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
    margin-right: 20px;
}

.name{
  font-family: 'Great Vibes', cursive;
  font-size: 55px !important;
  margin-top: 8px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .name{
    font-size: 40px !important;
  }
  .navbar-nav > li > a{
    font-size: 16px;
  }
}

@media (max-width: 765px){
  .name{
    font-size: 25px !important;
    margin-top: 3px;
    color: #3d1a3a !important;
  }
}

.navbar-toggle{
  border: 0 !important;
}

.body{
  margin-top: 80px;
  background-color: rgba(246,243,245,.75);
  box-shadow: #eee 0px 0px 50px;
  color: #3d1a3a;
}
