/*
color: #532f57
background: #401945
border: #ff8272
active-link: #b93a3e

*/

body{
  background-color:#401945;
  background-image: url('../images/backgroun/d.png');
  font-family: cursive;
}

nav{
  margin-top: 20px;
  border-bottom: 0 !important;
}

.navbar-nav > li > a{
  font-size: 22px;
  color: #532f57 !important;
  background-color: inherit !important;
}

.navbar, .navbar-default .navbar-nav > .active > a{
  color: #532f57;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    border-bottom: #888 solid 1px !important;
}

.navbar-default{
  background-color: transparent !important;
}

.navbar .navbar-collapse {
    text-align: center;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: #111 0px 4px 30px 2px;
}

.name{
  font-family: 'Great Vibes', cursive;
  font-size: 55px !important;
  margin-top: 8px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .name{
    font-size: 40px !important;
  }
  .navbar-nav > li > a{
    font-size: 19px;
  }
}

@media (max-width: 765px){
  nav{
    border-bottom: #888 solid 1px !important;
    margin-top: 0;
  }
  .navbar .navbar-nav {
    border-bottom: 0 !important;
  }
  .name{
    font-size: 25px !important;
    margin-top: 3px;
    color: #ffffff !important;
  }
  .navbar-collapse{
    border-top: 0;
    background-color: #fff !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .navbar-default{
    background-color: #fff !important;
    color: #532f57 !important;
  }
}

.navbar-toggle{
  border: 0 !important;
}

.active-link{
  background-color: #3d1a3a;
  color: #ffffff !important;
  border-radius: 30px;
}

.body{
  color:#d8d1d9 !important;
  margin-top: 100px;
}
