html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
  background-color:#bbb;
  font-weight: bold;
  color: #FFF;
}

.content{
  color: #fff;
}

.color-box-md{
  background-color: rgba(111,71,146,.9);
}

.color-box-lt{
  background-color: rgba(164,132,211,.9);
}

.color-box-dk{
  background-color: rgba(47,27,71,.9);
}

.color-box-gr{
  background-color: rgba(170,170,170,.9);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 70px;
    width: 150px;
    background: #2f1b47;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
    box-shadow: 11px 1px 20px 1px rgba(0,0,0,0.35);
}

.sidebar-nav {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #43e8d8;
    display: block;
    float: left;
    text-decoration: none;
    width: 150px;
    background: #2f1b47;
    -webkit-transition: background .7s;
    -moz-transition: background .7s;
    -o-transition: background .7s;
    -ms-transition: background .7s;
    transition: background .7s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #43e8d8;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #43e8d8;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
  float:right;
  padding-right: 65px;
  padding-top:14px;
}
.sub_icon
{
    float:right;
   padding-right: 65px;
   padding-top: 6px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all .4s ease 0s;
}
}

.active-link {
  background-color: #43E8D8 !important;
  color: #2f1b47 !important;
}

.row{
  width: 100%;
  padding-bottom: 20px;
}

.light-box-shadow{
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.35);
}

.btn{
  background-color: #bbb;
  border-radius: 0;
}

.btn:hover{
  background-color:#43e8d8;
  -webkit-transition: background .7s;
  -moz-transition: background .7s;
  -o-transition: background .7s;
  -ms-transition: background .7s;
  transition: background .7s;
}

i:hover{
  color: #43e8d8;
  -webkit-transition: color .7s;
  -moz-transition: color .7s;
  -o-transition: color .7s;
  -ms-transition: color .7s;
  transition: color .7s;
}

.less-padding{
  padding-left: 5px;
  padding-right: 5px;
}

.text-muted{
  color:#60488D;
}

.form-horizontal .form-group{
  margin-left: 0;
  margin-right: 0;
}

.form-horizontal .form-group:first-child{
    padding-left:0;
}

input, textarea{
  color:#2F1B47;
}
